.login-bg-image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.category_list {
    color: #000;

}

.css-1s2u09g-control {
    background-color: #0f093200;
    border-color: #757575;
}